.about-grid{
    color: white;
    font-family: 'K2D', sans-serif;
}

.about-title-text{
    font-size: 50px;
}

.about-content-text{
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
}