.home-grid{
    background-image: url("../../Images/back.jpg");
    background-size: cover;
    flex: 1;
    width: 100%;
    height: 100%
}

.home-welcome-grid{
    position: relative;
    font-family: 'K2D', sans-serif;
    text-align: left;
}


.home-welcome-text-big{
    font-size: 70px;
}

.home-welcome-text-small{
    margin-top: -20px;
    font-size: 20px;
}

.home-welcome-grid p{
    color: white;
}

.home-see-button{
    margin-right: 20px;
    margin-top: 10px;
    border: 2px solid #e7e7e7;
}

.btn-projects{
    margin-right: 20px;
    color: white!important;
    background-color: transparent!important;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #e7e7e7;
    text-decoration: none!important;
    text-underline: none!important;
}

.home-see-button a{
    color: white!important;
    background-color: transparent!important;
    text-decoration: none!important;
    text-underline: none!important;
}

.home-see-button a:hover{
    background-color: transparent!important;
    text-decoration: none!important;
    text-underline: none!important;
}

.home-see-button:active{
    background-color: transparent!important;
    text-decoration: none!important;
    text-underline: none!important;
}
