html, body {
  height:100%!important;
  margin: 0;
  padding: 0;
  background-color: #5f444a;
}

#root{
  height:100%!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
